body { 
    background-color: #f8f9fa; 
}
.phone-img { 
    aspect-ratio: 2 / 4; 
    object-fit: cover;
 }
header {
     background-color: #ccc; 
     padding: 10px 20px; 
    }

.card.h-100.shadow-sm .card-img, .card-img-bottom, .card-img-top {
    max-height: 214px;
    width: max-content;
    display: block;
    margin: auto;

}